.text-6{
    font-size: 6px!important;
}

.text-7{
    font-size: 7px!important;
}

.text-8{
    font-size: 8px!important;
}

.text-9{
    font-size: 9px!important;
}

.text-10{
    font-size: 10px!important;
}

.text-11{
    font-size: 11px!important;
}

.text-12{
    font-size: 12px!important;
}

.text-13{
    font-size: 13px!important;
}

.text-14{
    font-size: 14px!important;
}

.text-15{
    font-size: 15px!important;
}

.text-16{
    font-size: 16px!important;
}

.text-18{
    font-size: 18px!important;
}

.text-20{
    font-size: 20px!important;
}

.text-22{
    font-size: 22px!important;
}

.text-24{
    font-size: 24px!important;
}

.text-26{
    font-size: 26px!important;
}

.text-28{
    font-size: 28px!important;
}

.text-30{
    font-size: 30px!important;
}

.text-34{
    font-size: 34px!important;
}

.text-38{
    font-size: 38px!important;
}

.text-40{
    font-size: 40px!important;
}

.text-50{
    font-size: 50px!important;
}

.text-60{
    font-size: 60px!important;
}

.text-70{
    font-size: 70px!important;
}

.text-80{
    font-size: 80px!important;
}

.text-90{
    font-size: 90px!important;
}

.text-100 {
    font-weight: 100!important;
}

.text-100i {
    font-weight: 100!important;
    font-style: italic!important;
}

.text-300 {
    font-weight: 300!important;
}

.text-300i {
    font-weight: 300!important;
    font-style: italic!important;
}

.text-400 {
    font-weight: 400!important;
}

.text-400i {
    font-weight: 400!important;
    font-style: italic!important;
}

.text-500 {
    font-weight: 500!important;
}

.text-500i {
    font-weight: 500!important;
    font-style: italic!important;
}

.text-700 {
    font-weight: 700!important;
}

.text-700i {
    font-weight: 700!important;
    font-style: italic!important;
}

.text-900 {
    font-weight: 900!important;
}

.text-900i {
    font-weight: 900!important;
    font-style: italic!important;
}
.text-monospace {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.text-oswald {
    font-family: 'Oswald', sans-serif!important;
}
.text-roboto {
    font-family: 'Roboto', sans-serif!important;
}
.text-roboto-condensed {
    font-family: 'Roboto condensed', sans-serif!important;
}
.cursor-crosshair {
    cursor:crosshair!important;
}
.cursor-default {
    cursor: default !important;
}
.cursor-pointer {
    cursor:pointer!important;
}
.cursor-move {
    cursor:move!important;
}
.cursor-text {
    cursor:text!important;
}
.cursor-wait {
    cursor:wait!important;
}
.cursor-help {
    cursor:help!important;
}
.cursor-e-resize {
    cursor:e-resize!important;
}
.cursor-ne-resize {
    cursor:ne-resize!important;
}
.cursor-n-resize {
    cursor:n-resize!important;
}
.cursor-nw-resize {
    cursor:nw-resize!important;
}
.cursor-w-resize {
    cursor:w-resize!important;
}
.cursor-sw-resize {
    cursor:sw-resize!important;
}
.cursor-s-resize {
    cursor:s-resize!important;
}
.cursor-se-resize {
    cursor:se-resize!important;
}

.border-dashed {
	border-style: dashed !important;
}

.border-dotted {
	border-style: dotted !important;
}

.border-groove {
	border-style: groove !important;
}
.border-2 {
    border-width: 2px!important
}

.border-top-2 {
    border-top-width: 2px!important
}

.border-right-2 {
    border-right-width: 2px!important
}

.border-bottom-2 {
    border-bottom-width: 2px!important
}

.border-left-2 {
    border-left-width: 2px!important
}

.border-3 {
    border-width: 3px!important
}

.border-top-3 {
    border-top-width: 3px!important
}

.border-right-3 {
    border-right-width: 3px!important
}

.border-bottom-3 {
    border-bottom-width: 3px!important
}

.border-left-3 {
    border-left-width: 3px!important
}

.border-4 {
    border-width: 4px!important
}

.border-top-4 {
    border-top-width: 4px!important
}

.border-right-4 {
    border-right-width: 4px!important
}

.border-bottom-4 {
    border-bottom-width: 4px!important
}

.border-left-4 {
    border-left-width: 4px!important
}

.border-5 {
    border-width: 5px!important
}

.border-top-5 {
    border-top-width: 5px!important
}

.border-right-5 {
    border-right-width: 5px!important
}

.border-bottom-5 {
    border-bottom-width: 5px!important
}

.border-left-5 {
    border-left-width: 5px!important
}

.border-top-0 {
    border-top: 0 !important;
}

.border-right-0 {
    border-right: 0 !important;
}

.border-bottom-0 {
    border-bottom: 0 !important;
}

.border-left-0 {
    border-left: 0 !important;
}

.border-dashed {
    border-style: dashed !important;
}

.border-dotted {
    border-style: dotted !important;
}

.border-groove {
    border-style: groove !important;
}

.rounded-left-pill {
	border-top-left-radius: 50rem !important;
	border-bottom-left-radius: 50rem !important;
}

.rounded-right-pill {
	border-top-right-radius: 50rem !important;
	border-bottom-right-radius: 50rem !important;
}

[class*=shadow] {
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.hover-shadow-sm:hover {
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(31, 45, 61, 0.08) !important;
    box-shadow: 0 0.125rem 0.25rem rgba(31, 45, 61, 0.08) !important;
}

.hover-shadow:hover {
    -webkit-box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.08) !important;
    box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.08) !important;
}

.hover-shadow-lg:hover {
    -webkit-box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.125) !important;
    box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.125) !important;
}

.shadow-none,
.hover-shadow-none:hover {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.shadow-primary-sm {
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 55, 131, 0.4) !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 55, 131, 0.4) !important;
}

.shadow-primary {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 55, 131, 0.4) !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 55, 131, 0.4) !important;
}

.shadow-primary-lg {
    -webkit-box-shadow: 0 1rem 3rem rgba(0, 55, 131, 0.4) !important;
    box-shadow: 0 1rem 3rem rgba(0, 55, 131, 0.4) !important;
}

.shadow-secondary-sm {
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(239, 242, 247, 0.4) !important;
    box-shadow: 0 0.125rem 0.25rem rgba(239, 242, 247, 0.4) !important;
}

.shadow-secondary {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(239, 242, 247, 0.4) !important;
    box-shadow: 0 0.5rem 1rem rgba(239, 242, 247, 0.4) !important;
}

.shadow-secondary-lg {
    -webkit-box-shadow: 0 1rem 3rem rgba(239, 242, 247, 0.4) !important;
    box-shadow: 0 1rem 3rem rgba(239, 242, 247, 0.4) !important;
}

.shadow-success-sm {
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(54, 179, 126, 0.4) !important;
    box-shadow: 0 0.125rem 0.25rem rgba(54, 179, 126, 0.4) !important;
}

.shadow-success {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(54, 179, 126, 0.4) !important;
    box-shadow: 0 0.5rem 1rem rgba(54, 179, 126, 0.4) !important;
}

.shadow-success-lg {
    -webkit-box-shadow: 0 1rem 3rem rgba(54, 179, 126, 0.4) !important;
    box-shadow: 0 1rem 3rem rgba(54, 179, 126, 0.4) !important;
}

.shadow-info-sm {
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 184, 217, 0.4) !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 184, 217, 0.4) !important;
}

.shadow-info {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 184, 217, 0.4) !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 184, 217, 0.4) !important;
}

.shadow-info-lg {
    -webkit-box-shadow: 0 1rem 3rem rgba(0, 184, 217, 0.4) !important;
    box-shadow: 0 1rem 3rem rgba(0, 184, 217, 0.4) !important;
}

.shadow-warning-sm {
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(255, 171, 0, 0.4) !important;
    box-shadow: 0 0.125rem 0.25rem rgba(255, 171, 0, 0.4) !important;
}

.shadow-warning {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(255, 171, 0, 0.4) !important;
    box-shadow: 0 0.5rem 1rem rgba(255, 171, 0, 0.4) !important;
}

.shadow-warning-lg {
    -webkit-box-shadow: 0 1rem 3rem rgba(255, 171, 0, 0.4) !important;
    box-shadow: 0 1rem 3rem rgba(255, 171, 0, 0.4) !important;
}

.shadow-danger-sm {
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(255, 86, 48, 0.4) !important;
    box-shadow: 0 0.125rem 0.25rem rgba(255, 86, 48, 0.4) !important;
}

.shadow-danger {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(255, 86, 48, 0.4) !important;
    box-shadow: 0 0.5rem 1rem rgba(255, 86, 48, 0.4) !important;
}

.shadow-danger-lg {
    -webkit-box-shadow: 0 1rem 3rem rgba(255, 86, 48, 0.4) !important;
    box-shadow: 0 1rem 3rem rgba(255, 86, 48, 0.4) !important;
}

.shadow-light-sm {
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(239, 242, 247, 0.4) !important;
    box-shadow: 0 0.125rem 0.25rem rgba(239, 242, 247, 0.4) !important;
}

.shadow-light {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(239, 242, 247, 0.4) !important;
    box-shadow: 0 0.5rem 1rem rgba(239, 242, 247, 0.4) !important;
}

.shadow-light-lg {
    -webkit-box-shadow: 0 1rem 3rem rgba(239, 242, 247, 0.4) !important;
    box-shadow: 0 1rem 3rem rgba(239, 242, 247, 0.4) !important;
}

.shadow-dark-sm {
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(39, 52, 68, 0.4) !important;
    box-shadow: 0 0.125rem 0.25rem rgba(39, 52, 68, 0.4) !important;
}

.shadow-dark {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(39, 52, 68, 0.4) !important;
    box-shadow: 0 0.5rem 1rem rgba(39, 52, 68, 0.4) !important;
}

.shadow-dark-lg {
    -webkit-box-shadow: 0 1rem 3rem rgba(39, 52, 68, 0.4) !important;
    box-shadow: 0 1rem 3rem rgba(39, 52, 68, 0.4) !important;
}

.shadow-neutral-sm {
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(255, 255, 255, 0.4) !important;
    box-shadow: 0 0.125rem 0.25rem rgba(255, 255, 255, 0.4) !important;
}

.shadow-neutral {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.4) !important;
    box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.4) !important;
}

.shadow-neutral-lg {
    -webkit-box-shadow: 0 1rem 3rem rgba(255, 255, 255, 0.4) !important;
    box-shadow: 0 1rem 3rem rgba(255, 255, 255, 0.4) !important;
}

.shadow-white-sm {
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(255, 255, 255, 0.4) !important;
    box-shadow: 0 0.125rem 0.25rem rgba(255, 255, 255, 0.4) !important;
}

.shadow-white {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.4) !important;
    box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.4) !important;
}

.shadow-white-lg {
    -webkit-box-shadow: 0 1rem 3rem rgba(255, 255, 255, 0.4) !important;
    box-shadow: 0 1rem 3rem rgba(255, 255, 255, 0.4) !important;
}
.hover-translate-y-n3:hover,
.translate-y-n3 {
	-webkit-transform:translateY(-3px)!important;
	-ms-transform:translateY(-3px)!important;
	transform:translateY(-3px)!important
}
.hover-translate-y-n10:hover,
.translate-y-n10 {
	-webkit-transform:translateY(-10px)!important;
	-ms-transform:translateY(-10px)!important;
	transform:translateY(-10px)!important
}
.hover-translate-x-50:hover,
.translate-x-50 {
	-webkit-transform:translateX(50%)!important;
	-ms-transform:translateX(50%)!important;
	transform:translateX(50%)!important
}
.translate-y-50 {
	-webkit-transform:translateY(50%)!important;
	-ms-transform:translateY(50%)!important;
	transform:translateY(50%)!important
}
.translate-x-100 {
	-webkit-transform:translateX(100%)!important;
	-ms-transform:translateX(100%)!important;
	transform:translateX(100%)!important
}
.translate-y-100 {
	-webkit-transform:translateY(100%)!important;
	-ms-transform:translateY(100%)!important;
	transform:translateY(100%)!important
}
.translate-x-n50 {
	-webkit-transform:translateX(-50%)!important;
	-ms-transform:translateX(-50%)!important;
	transform:translateX(-50%)!important
}
.translate-y-n50 {
	-webkit-transform:translateY(-50%)!important;
	-ms-transform:translateY(-50%)!important;
	transform:translateY(-50%)!important
}
.translate-x-n100 {
	-webkit-transform:translateX(-100%)!important;
	-ms-transform:translateX(-100%)!important;
	transform:translateX(-100%)!important
}
.translate-y-n100 {
	-webkit-transform:translateY(-100%)!important;
	-ms-transform:translateY(-100%)!important;
	transform:translateY(-100%)!important
}

.link {
	-webkit-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease
}
.link:hover {
	text-decoration: none!important;
}
@media (prefers-reduced-motion:reduce) {
	.link {
		-webkit-transition:none;
		-o-transition:none;
		transition:none
	}
}
[class*=link-underline-] {
	padding-bottom:8px;
	position:relative
}
[class*=link-underline-]:after {
	content:"";
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:3px;
	border-radius:50rem;
	-webkit-transition:all .2s cubic-bezier(.77,0,.2,2.25);
	-o-transition:all .2s cubic-bezier(.77,0,.2,2.25);
	transition:all .2s cubic-bezier(.77,0,.2,2.25)
}
@media (prefers-reduced-motion:reduce) {
	[class*=link-underline-]:after {
		-webkit-transition:none;
		-o-transition:none;
		transition:none
	}
}
[class*=link-underline-]:hover:after {
	width:calc(100% + 8px);
	left:-4px
}
.link-underline-primary {
	color:#306eff
}
.link-underline-primary:after {
	background-color:#306eff
}
.link-underline-primary:hover {
	color:#004bfc
}
.link-underline-secondary {
	color:#eff2f7
}
.link-underline-secondary:after {
	background-color:#eff2f7
}
.link-underline-secondary:hover {
	color:#cdd6e6
}
.link-underline-success {
	color:#36b37e
}
.link-underline-success:after {
	background-color:#36b37e
}
.link-underline-success:hover {
	color:#2a8c62
}
.link-underline-info {
	color:#00b8d9
}
.link-underline-info:after {
	background-color:#00b8d9
}
.link-underline-info:hover {
	color:#008da6
}
.link-underline-warning {
	color:#ffab00
}
.link-underline-warning:after {
	background-color:#ffab00
}
.link-underline-warning:hover {
	color:#cc8900
}
.link-underline-danger {
	color:#ff5630
}
.link-underline-danger:after {
	background-color:#ff5630
}
.link-underline-danger:hover {
	color:#fc2e00
}
.link-underline-light {
	color:#eff2f7
}
.link-underline-light:after {
	background-color:#eff2f7
}
.link-underline-light:hover {
	color:#cdd6e6
}
.link-underline-dark {
	color:#273444
}
.link-underline-dark:after {
	background-color:#273444
}
.link-underline-dark:hover {
	color:#141b24
}
.link-underline-neutral {
	color:#fff
}
.link-underline-neutral:after {
	background-color:#fff
}
.link-underline-neutral:hover {
	color:#e6e6e6
}
.link-underline-white {
	color:#fff
}
.link-underline-white:after {
	background-color:#fff
}
.link-underline-white:hover {
	color:#e6e6e6
}
